html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 10px;
    padding: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.origDest {
    display: flex;
    align-items: center;
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.orig, .dest {
    flex-grow: 2;
}

#deptime {
    flex-grow: 1;
}

.run-search {
    flex-grow: 1;
    border: 0;
    background: #d3d3d3;
    color: #000;
    font-weight: 600;
    height: 44px;
    padding: 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.run-search:hover {
    background: #000;
    color: #d3d3d3;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.slider {
    flex-grow: 1;
}

slider:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.mapTable {
    display: flex;
    width: 100%;
    height: 90%;
}

#map {
    width: 60%;
    height: 100%;
}

#overview {
    width: 40%;
    overflow-y: scroll;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
}
